<!doctype html>
<html lang="nl">
<head>

</head>
<body>
<header>
    <title>$title</title>
</header>

<main>
    <p>

    </p>
    <div class="update-button">
        <form method="get" action="/update">
            <button type="submit">Update</button>
        </form>
    </div>
</main>

<footer>

</footer>

<script>

</script>
</body>
</html>