<!doctype html>
<html lang="nl">
<head>
    <link href="/public/final.css" rel="stylesheet">
</head>
<body>
<header>
    <title>$title</title>
</header>

<main>
    <p>

    </p>
    <div class="update-button">
        <a href="/update">Update</a>
    </div>
</main>

<footer>

</footer>

<script>

</script>
</body>
</html>