.footer {
    position:relative;  
    background-color: #0f1c3b;
    float: left;
    width:100%;
    padding-bottom:25px;
}

.footer_page {
    width: 960px;   
    margin: 0px auto;   
}

.footer-text {
    float: left;
    margin: 20px 0px 15px;
    width: 99%;
}

.footer-text-block {
    padding-right: 37px;
}

.sub_footer_tekst_rechts {
    float: right;        
}

.devider_01 {
    float: right;    
    padding-top: 40px;
    padding-right: 0px;
}

.column-developer {
    float: right;
}

.sub_footer {
    background-color: $accent;   
    height:25px;
    float:left;
    width:100%;
}

.sub_footer_tekst {
    position: relative;
    margin: 5px auto 0;
}