#page-header {
    background-color: #213e81; 
    height: 62px;
}

.header-nav {
    position: relative;
    margin: 0px auto;
    width: 1015px;
    display: block;
    overflow: hidden;
}

.buttons {  
    list-style: none;
    text-decoration: none;
    font-size: 1.4em;
    line-height: 0px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    width: 210px;
}

.buttons li {
    list-style: none;
    float: left;
    padding: 18px;
            
}

li.active {
    background-color: #2e5fcc;
}

li.button-last {
    padding-right: 48px;
}

.buttons a {
    text-decoration: none;
    color: $white;      
}

#logoheader {
    position: relative;
    margin: 0 auto;
    width: 960px;
}

.logo {
    margin: 0 auto;
    width: 220px;
}

.logo-mobile {
    margin-left: 355px;
    width: 272px;
}

.logo img {
    width: 100%;
}