        <div class="footer">
        	<div class="container">
            	<div class="column column--three">
                    <div class="footer-text">
                    	<h5>
                        	Joris Albers
                        </h5>
                        <p class="footer-text-block">
                        	Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                        <br />
                        <h6>
                        	<a href="overlenet.html">Lees meer...</a>
                        </h6>
                    </div>
                </div>
                <div class="column column--three">
                    <div class="footer-text">
                    	<h5>
                        	Martijn van der Heiden
                        </h5>
                        <p class="footer-text-block">
                        	Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                        <br />
                        <h6>
                        	<a href="referenties.html">Lees meer...</a>
                        </h6>
                    </div>
                </div>
                <div class="column column--three">
                    <div class="footer-text">
                    	<h5>
                        	Social
                        </h5>
                        <h6>
                        	<br />
                            <table class="table_social">
                                <tr>
                                    <td><a href="https://www.facebook.com/events/174792296471049/" target="_blank"><img src="img/linkedin_icon.png" alt="linkedin icon" /></a></td>
                                    <td class="td_spacing"><a href="https://www.facebook.com/events/174792296471049/" target="_blank">Facebook</a></td>
                                </tr>
                            </table>
                        </h6>
                    </div>
              	</div>
                <div class="column column--three column-contact">
                    <div class="footer-text">
                    	<h5>
                        	Adres
                        </h5>
                        <p class="footer-text-block">
                        	<table class="footer-text-block">
                            	<tr>
                                	<td>Tel:</td>
                                    <td class="td_spacing">06 24 50 35 67</td>
                                </tr>
                                <tr>
                                	<td>Mail:</td>
                                    <td class="td_spacing"><a class="mailto" href="mailto:info@lenet.nl">info@dendam2.nl</a></td>
                                </tr>
                                <tr>
                                    <td>Adres:</td>
                                    <td class="td_spacing">Den Dam 2</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="td_spacing">5371 NK Ravenstein</td>
                                </tr>
    						</table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub_footer">
        	<div class="sub_footer_tekst container">
           		<div class="column column--half sub-footer-column">
					<p class="footer-text-block">© 2018 Cloud 7 &nbsp;&nbsp;&nbsp;&nbsp;<span class="terms-sub-footer">Terms & Conditions &nbsp;&nbsp;&nbsp;&nbsp;Disclaimer</span></p>
				</div>
                <div class="column column--half sub-footer2-column">
                    <p class="column-developer footer-text-block">Webdesign / Development Robert van Haaren</p>
                </div>
            </div>
        </div>
        <div class="overlay overlay-scale">
            <button class="overlay-close"><span class="ss-pika ss-icon">close</span></button>
            <nav>
                <ul>
                    <li><a href="index.html">Ledjes</a></li>
                    <li><a href="re-integratie.html">Cloudcam</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/demo1.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
