<% include partials/header %>  
        <div class="container">
            <div class="column column--half column--full-spacing">
            	<div class="title-section">
                	<h1>Terror Lights</h1>
            	</div>
            </div>

            <div class="column column--half btn--stop">
                <span class="CTA-btn-wrapper CTA-button-adjust">
                    <a href="#" class="CTA-btn CTA-button-adjust-02">STOPPEN</a>
                </span>
            </div>

            <div class="column column--half">
                <div class="led-card">
                    <h2>Dominator</h2>
                    <span class="CTA-btn-wrapper CTA-button-adjust">
                        <a href="#" class="CTA-btn">START</a>
                    </span>
                </div>
                <div class="led-card">
                    <h2>Thunder Cloud error Lights error Lights</h2>
                    <span class="CTA-btn-wrapper CTA-button-adjust">
                        <a href="#" class="CTA-btn">START</a>
                    </span>
                </div>
                <div class="led-card">
                    <h2>Thunder Cloud</h2>
                    <span class="CTA-btn-wrapper CTA-button-adjust">
                        <a href="#" class="CTA-btn">START</a>
                    </span>
                </div>
                <div class="led-card">
                    <h2>Thunder Cloud</h2>
                    <span class="CTA-btn-wrapper CTA-button-adjust">
                        <a href="#" class="CTA-btn">START</a>
                    </span>
                </div>
            </div>
           
            <div class="column column--half">
                <div class="led-card">
                    <h2>Ledi-nator</h2>
                    <span class="CTA-btn-wrapper CTA-button-adjust">
                        <a href="#" class="CTA-btn">START</a>
                    </span>
                </div>
                <div class="led-card">
                    <h2>Ledi-nator</h2>
                    <span class="CTA-btn-wrapper CTA-button-adjust">
                        <a href="#" class="CTA-btn">START</a>
                    </span>
                </div>
                <div class="led-card">
                    <h2>Ledi-nator</h2>
                    <span class="CTA-btn-wrapper CTA-button-adjust">
                        <a href="#" class="CTA-btn">START</a>
                    </span>
                </div>
                <div class="led-card">
                    <h2>Ledi-nator</h2>
                    <span class="CTA-btn-wrapper CTA-button-adjust">
                        <a href="#" class="CTA-btn">START</a>
                    </span>
                </div>
            </div>

            <div class="column column--half btn--stop">
                <div class="slidecontainer">
                <h2 style="padding-bottom: 10px;">Snelheid</h2>
                  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </div>
            <div class="column column--half btn--stop">
                <div class="slidecontainer">
                <h2 style="padding-bottom: 10px;">Helderheid</h2>
                  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </div>
        </div>
<% include partials/footer %> 