<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Cloud 7</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Cloud 7" /> 
    <meta name="keywords" content="Cloud 7"/>
    <link rel="stylesheet" href="css/main.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="fonts/ss-pika/ss-pika.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
</head>

<body>
  <div class="page">  
    <div id="wrapper">
      <div class="content">
        <div id="logoheader">
          <section class="mobile-menu-trigger">
            <button id="trigger-overlay" type="button">
              <span class="ss-icon ss-pika">rows</span>
              <p class="menu-title-accent">Menu</p>
            </button>
          </section>
          <div class="logo">
            <img src="img/logo-cloud.png" alt="Cloud-logo"  />
          </div>
          <div class="logo-mobile">
            <img src="img/cloud-white-logo.svg" alt="Cloud-logo"  />
          </div>
        </div> <!--end header-->
      </div> <!--end content-->
    </div> <!--end wrapper-->

    <div id="page-header">
      <div class="header-nav">
        <ul class="buttons">
          <li> <a href="../../index.html" style="text-decoration : none"><h7>Ledjes</h7></a> </li>
            <li class="active"><a href="../../social.html" style="text-decoration : none"><h7>Social Feed</h7></a></li>
        </ul>
      </div><!--end header-wrapper-->
    </div> <!--end page-header--> 

    <div class="container">
        <div class="column column--half btn--stop">
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v3.0&appId=189038304919308&autoLogAppEvents=1';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-page" data-href="https://www.facebook.com/Cloud-7-819871958039742/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Cloud-7-819871958039742/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Cloud-7-819871958039742/">Cloud 7</a></blockquote></div>
        </div>
    </div>
<% include partials/footer %> 